@import 'nib'

.hero-unit-inverse {
  background: #222;
  color:white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

.neo-19-announcement-hero {
  background: url(../img/cityscape.jpeg) no-repeat -200px -490px;
}