
<div ng-show="showIndexDropWarning" class="alert alert-block alert-warning">
  <h4>Warning!</h4>
  <p>Dropping an index cannot be undone, are you sure you want to drop the {{ toDropType }} index named '{{ toDropName }}'?</p>
  <p>
    <div ng-click="dropIndex(toDropType, toDropName)" class="btn btn-warning">Drop it</div>
    <div ng-click="showIndexDropWarning = false" class="btn">Get me out of here</div>
  </p>
</div>
<h4>Node indexes
  <div ng-click="showCreateNodeIndex()" class="btn btn-small"><i class="icon-plus"></i> New index</div>
</h4>
<table class="table table-striped table-bordered">
  <tr>
    <th>Index name</th>
    <th>Configuration</th>
    <th></th>
  </tr>
  <tr ng-repeat="(name, index) in nodeIndexes"> 
    <td>{{ name }}</td>
    <td>{{ index }}</td>
    <td> 
      <div ng-click="promptDropNodeIndex(name)" class="btn btn-danger btn-small"><i class="icon-fire icon-white"></i> Drop</div>
    </td>
  </tr>
</table>
<h4>Relationship indexes
  <div ng-click="showCreateRelationshipIndex()" class="btn btn-small"><i class="icon-plus"></i> New index</div>
</h4>
<table class="table table-striped table-bordered">
  <tr>
    <th>Index name</th>
    <th>Configuration</th>
    <th></th>
  </tr>
  <tr ng-repeat="(name, index) in relationshipIndexes"> 
    <td>{{ name }}</td>
    <td>{{ index }}</td>
    <td> 
      <div ng-click="promptDropRelationshipIndex(name)" class="btn btn-danger btn-small"> <i class="icon-fire icon-white"></i> Drop</div>
    </td>
  </tr>
</table>
<div modal="showCreateModal">
  <div class="modal-header">
    <h4>Create new index</h4>
  </div>
  <div class="modal-body">
    <input ng-model="newIndexName" placeholder="Enter index name" type="text" class="input-xlarge"/>
  </div>
  <div class="modal-footer">
    <div ng-click="newIndex()" class="btn btn-primary">Create</div>
    <div ng-click="showCreateModal=false" class="btn cancel">Cancel</div>
  </div>
</div>