h1 Legacy indexes

select(ng-model='newIndexType')
  option(value='node') Node Index
  option(value='rel' ) Relationship Index
input(ng-model='newIndexName')
div.btn(ng-click='newIndex()') Create Index

.alert.alert-block.alert-warning(ng-show='showIndexDropWarning')
  h4 Warning!
  p Dropping an index cannot be undone, are you sure you want to drop the {{ toDropType }} index named '{{ toDropName }}'?
  .btn.btn-warning(ng-click='dropIndex(toDropType, toDropName)') Drop it
  .btn(ng-click='showIndexDropWarning = false') Get me out of here

h4 Node indexes
ul
  li(ng-repeat='(name, index) in nodeIndexes') {{ name }}
    .btn.btn-danger.btn-small(ng-click='promptDropNodeIndex(name)') Drop


h4 Relationship indexes
ul
  li(ng-repeat='(name, index) in relationshipIndexes') {{ name }}
    .btn.btn-danger.btn-small(ng-click='promptDropRelationshipIndex(name)') Drop