<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit hero-unit-inverse neo-19-announcement-hero ">
      <h1>Welcome to Neo4j 1.9!</h1>
      <p>With massive [REDACTED] for your [REDACTED] and support for dead-simple [REDACTED], Neo4j 1.9 raises the bar to a whole new level.</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h2>New to Neo4j?</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Labels!</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Cypher performance</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->

<hr>

<footer>
  <p>&copy; Neo Technology 2012</p>
</footer>