
<div class="data-console">
  <div ng-repeat="interaction in interactions" class="row-fluid">
    <div class="span12">
      <pre class="data-console-statement">{{ interaction.statement }}</pre>
      <pre class="data-console-result">   {{ interaction.result }}</pre>
    </div>
  </div>
  <div class="row-fluid">
    <div ng-click="execute()" class="btn btn-primary data-console-exec">Execute &raquo;</div>
    <div>
      <div class="prefix">></div>
      <textarea ui-codemirror="{theme:'eclipse',mode:'cypher'}" ng-model="statement"></textarea>
    </div>
  </div>
</div>