.row-fluid
  .span3
    div(ng-repeat='domain in domains') {{ domain }}
  .span3
    div(ng-repeat='bean in beans') 
      p {{ bean.name }}
  .span6
    h1 {{ bean.name }}
    div(ng-repeat='attr in bean.attributes')
        p {{ attr.name }} = {{ attr.value }}