<div class="navbar">
  <div class="navbar-inner">
    
    <div class="container">
      <a class="brand">Profiler</a>
      <form class="navbar-form pull-left" action="">
        {{#disabled}}
            <div class="btn-group">
              <button class="btn profiler-resume" disabled>Resume</button>
              <button class="btn profiler-pause" disabled>Pause</button>
              <button class="btn btn-danger" disabled>Stop</button>
            </div>
        {{/disabled}}
        {{^disabled}}
          <div class="btn-group">
            <button class="btn profiler-resume" {{^paused}}disabled{{/paused}}>Resume</button>
            <button class="btn profiler-pause" {{#paused}}disabled{{/paused}}>Pause</button>
            <button class="btn btn-danger profiler-stop">Stop</button>
          </div>
        {{/disabled}}
      </form>
    </div>
  </div>
</div>