.data-console
  .row-fluid(ng-repeat='interaction in interactions')
    .span12
      pre.data-console-statement {{ interaction.statement }}
      pre.data-console-result    {{ interaction.result }}
  .row-fluid
      div
        .prefix >
          textarea(ui-codemirror="{theme:'eclipse',mode:'cypher', extraKeys:{'Ctrl-Space': 'cypherAutoComplete','Enter': execute}}", ng-model="statement")