.row-fluid.data-console

  .span10
    div(ng-repeat='interaction in interactions')
      pre.data-console-statement(ng-show="interaction.statement") {{ interaction.statement }}
      pre.data-console-result {{ interaction.result }}
    .prefix(scroll-here-on-change="interactions.length") >
      textarea(ui-codemirror="{theme:'eclipse',mode:'cypher', extraKeys:{'Ctrl-Space': 'cypherAutoComplete','Enter': execute, 'Up': prevHistory, 'Down': nextHistory}}", ng-model="statement", autofocus)
            
  .span2
    .dropdown
      a.btn.dropdown-toggle(data-toggle="dropdown", role="button", href="#") Engine: {{ engineName }} 
        b.caret
      ul.dropdown-menu(role="menu")
        li(ng-repeat='(key,engine) in availableEngines') 
          a(ng-click='changeEngine(key)', data-toggle="dropdown") {{engine.name}}