.data-console
  .row-fluid(ng-repeat='interaction in interactions')
    .span12
      pre.data-console-statement {{ interaction.statement }}
      pre.data-console-result    {{ interaction.result }}
  .row-fluid
      .btn.btn-primary.data-console-exec(ng-click='execute()') Execute &raquo;
      div
        .prefix >
        textarea(ui-codemirror="{theme:'eclipse',mode:'cypher'}", ng-model="statement")