h1 Explore

.row-fluid
    .span12.well(visualization='yep', style='height:400px;')
    .muted.text-small 
        code SCROLL
        |  Zooms  
        code CLICK DRAG
        |  Moves node, or whole graph