.sidebar(ng-controller="SidebarController")
  ul.main-menu(ng-include="'partials/menu_recursive.html'", ng-init="items=menuItems")

  .sidebar-resources
    small Resources
    br
    a.btn.btn-link.btn-mini(href="http://docs.neo4j.org/chunked/stable/tutorials-rest.html") Getting started
    a.btn.btn-link.btn-mini(href="http://docs.neo4j.org/chunked/stable/") Documentation</a>
    a.btn.btn-link.btn-mini(href="https://github.com/neo4j/neo4j/issues/new") Report an issue