
<div ng-controller="SidebarController" class="sidebar">
  <ul ng-include="'partials/menu_recursive.html'" ng-init="items=menuItems" class="main-menu"></ul>
  <div class="sidebar-resources"><small>Resources</small><br/><a href="http://docs.neo4j.org/chunked/stable/tutorials-rest.html" class="btn btn-link btn-mini">Getting started</a><a href="http://docs.neo4j.org/chunked/stable/" class="btn btn-link btn-mini">Documentation</a></a><a href="https://github.com/neo4j/neo4j/issues/new" class="btn btn-link btn-mini">Report an issue</a></div>
</div>