
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit hero-unit-inverse neo-20-announcement-hero">
      <div class="hero-query-wrapper">
        <div class="hero-query-logo-wrapper"><img src="img/big-logo.png" class="hero-query-logo"/>
          <div ng-click="execute()" class="btn btn-large btn-primary splash-exec">Execute &raquo;</div>
          <div class="code-mirror-wrap">
            <textarea ui-codemirror="{theme:'eclipse',mode:'cypher', extraKeys:{'Ctrl-Space': 'cypherAutoComplete','Ctrl-Enter': execute}}" ng-model="query"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>New to Neo4j?</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p><a class="btn">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Labels!</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p><a class="btn">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Cypher performance</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn">View details &raquo;</a></p>
  </div>
</div>