
<div class="data-browser">
  <div class="data-browser-dash"> 
    <div class="data-browser-query-wrap">
      <div ng-click="execute()" class="btn btn-primary data-browser-exec">Execute &raquo;</div>
      <div class="code-mirror-wrap">
        <textarea ui-codemirror="{theme:'eclipse',mode:'cypher', extraKeys:{'Ctrl-Space': 'cypherAutoComplete','Ctrl-Enter': execute}}" ng-model="query"></textarea>
      </div>
    </div>
  </div>
  <div ng-show="isLoading" class="row-fluid">
    <div class="loading-screen well">
      <h3>Hold on to your chair!</h3>
      <p>Neo4j is executing your statement..</p>
    </div>
  </div>
  <div ng-show="!isLoading">
    <div ng-show="error" class="row-fluid">
      <div class="span12">
        <h4>{{ error.exception }}</h4>
        <pre>{{ error.message }}</pre>
        <p>
          <div data-toggle="collapse" data-target=".data-browser ul.stacktrace" class="btn btn-mini">Stacktrace</div>
        </p>
        <ul class="stacktrace collapse">
          <li ng-repeat="stack in error.stacktrace"> 
            <pre>{{ stack }}</pre>
          </li>
        </ul>
      </div>
    </div>
    <div ng-show="rows.length" class="row-fluid">
      <div class="span12">
        <div class="pagination pagination-small pagination-right">
          <ul>
            <li class="disabled"><a>Page {{ page }} of {{ numberOfPages }}</a></li>
            <li ng-repeat="button in pageButtons" ng-class="{disabled:button.disabled}"> <a ng-click="updatePagination(button.action)">{{ button.text }}</a></li>
          </ul>
        </div>
        <table class="table well">
          <tr>
            <th ng-repeat="column in columns">{{ column }}</th>
          </tr>
          <tr ng-repeat="row in rows">
            <td ng-repeat="cell in row">{{ cell }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div ng-show="!rows.length &amp;&amp; !error" class="row-fluid">
      <div class="span12 well">The result set is empty</div>
    </div>
  </div>
</div>